<html lang="en">
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <link href="/static/css/bootstrap-edit.css" rel="stylesheet">
    <link href="/static/css/bootstrap-web.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

    <script type="text/javascript" src="http://china-addthis.googlecode.com/svn/trunk/addthis.js" charset="UTF-8"></script>
</head>

 <body >
      <div class="container site-header">
      <header id="site-header">
        <a href="{{homelink}}" class="title container" title="Home">
          <span href="{{homelink}}" aria-hidden="true" class="glyph-home logo-home hidden"></span>
          <h4 class="logo-text">淘二手，就选庙!</h4>
        </a>
        <nav>
          <div class="user-topics search-topics">
            <a class="navitem" title="Search topics">
                <span class="navlabel hidden">搜索你要的</span>
            </a>

            <form action="/search?name=" method="get" class="topicsearch"  style="display:inline;">
              <span class="twitter-typeahead" style="position: relative; display: inline-block;">
                  <input name="name" class="topicsearch tt-input" type="text" placeholder="搜索你要的"  style="position: relative; vertical-align: top; background-color: transparent;">
                  <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: nowrap; font-family: ProximaNova, helvetica, arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: uppercase;"></pre><span class="tt-dropdown-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"><div class="tt-dataset-0"></div></span></span>
            </form>

          </div>
          <div class="user-topics saved-topics">
            <a href="/" class="navitem" title="Saved topics">
                <span aria-hidden="true" class="glyph-bookmark glyph" data-original-title="" title="">

                </span><span class="navlabel">收藏本站(Ctrl+D)</span></a>
            <div class="topic-list saved-topics fullnames hidden dropdown">
              <ul>
                <li class="topic noresults">Tap <span aria-hidden="true" class="glyph-bookmark glyph" data-original-title="" title=""></span> on a topic to save it here</li>
              </ul>
            </div>
          </div>
          <div class="user-topics muted-topics">
            </div>
          </div>
        </nav>
         <section class="page now" id="stream">

        <header class="section">
          <div class="container">
            <div class="span7 pagetitle">
              <a href="{{homelink}}" aria-hidden="true" class="glyph-logo logo-mark" title="Home"></a>
              <h1><a href="{{homelink}}">{{title}}</a></h1>
            </div>
              <div class="actions stream-actions">
                <a href="#" aria-hidden="true" class="map glyph-world-america glyph"></a>
              </div>
          </div>
      </header>

