<!DOCTYPE html>
<html lang="zh-CN">
<head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
</head>
<body>
<div class="menu">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{homelink}}">
        {{title}}
      </a>
    </div>
      <p class="navbar-text">{{info}}</p>
  </div>
</nav>
</div>
<div class="estable">
    <div class="kztable">
    <ul>
        <li><a href="{{game}}">电玩</a></li>
        <li><a href="#">数码</a></li>
    </ul>
</div>
    </div>