 <div class="info">

            <ul class="article">
                {% for a in article %}
                    <li><span>{{ a.data }}</span><a href="/newsshow/{{ a.id }}">{{ a.title }}</a></li>
                    {% if loop.index%5 == 0 and not loop.last %}
                        <hr>
                    {% endif %}
                {% endfor %}
            </ul>

            <div class="pagination">
                <ul>
                    {% for p in page %}
                        <li>{{ p }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>